# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# Logs
logs/
*.log

# Outputs
outputs/raw_completion.txt
outputs/*.json
outputs/*.csv

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db